* {
    box-sizing: border-box;
  }
  
body {
  margin: 0;
  font-family: Helvetica;
  background: rgb(15, 96, 96);
}

a {
    text-decoration: none;
}

#online {
    position: fixed;
    left: 55%;
    color: rgb(202, 202, 202)
}

  
#whole {
    position: fixed;
    top: 10%;
    left: 40%;
    bottom: 10%;
    width: 20%;
    background: rgb(255, 255, 255);
}

img {
    border: 2px solid rgb(103,209,137);
}
    
#photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#goodOrNot {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(243,243,243);
}

#rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.checked {
    color: orange;
}

#cost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
    
}

#cost p {
    margin-top: -10px;
    font-size: 10px;
}

#contact {
    display: flex;
    height: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icon_1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(103,209,137);
    color: rgb(220,241,225);
}

#icon_2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(90,189,124);
    color: rgb(220,241,225);
}